/*------------------------------------------------------------
component30
------------------------------------------------------------*/
.l-title--center {
	text-align: center;
}

.l-title--marginBottom {
	margin-bottom: 47px;
}

.l-title--marginTop {
	margin-top: 4px;
}

.c-title1 {
	font-size: 24px;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
		"MS PMincho", serif;
}

.c-title2 {
	font-size: 20px;
	color: #999999;
	font-family: "Times New Roman", Times, serif;
}

.c-title3 {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝";
	font-size: 16px;
	font-weight: 500;
	min-height: 27px;
}

.c-text1 {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝";
	font-size: 13px;
	line-height: 1.7;
}

.c-list {
	max-width: 1185px;
	margin: 0 auto;

	&__content {
		margin-top: 10px;
		font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝";
	}

	&__showcase {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.c-card1 {
	max-width: 370px;
	min-height: 385px;
	margin: 0 12.5px;
}

.c-card2 {
	position: relative;
	max-width: 1460px;
	margin: 0 auto;
	height: 240px;
	background-position: center;
	z-index: 1;
	opacity: 0.8;

	img {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&--1 {
		background-image: url("../img/component30/img1.jpg");
	}

	&--2 {
		background-image: url("../img/component30/img2.jpg");
	}

	&--3 {
		background-image: url("../img/component30/img3.jpg");
	}
}

/*
------------------------------------------------------------*/
